/* ################ Reset CSS ################ */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

/* ################ Fontes ################ */

@import url('https://fonts.googleapis.com/css2?family=Nerko+One&display=swap');

/* ################ CSS Geral ################ */

a{
	text-decoration: none;
}

body {
	line-height: 1;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

.marquee{
    background-color: #202020;
}

.marquee p{
    font-size: 1.5em;
    color: #fff;
    padding: 15px 0 35px 0;
}

.banner{
	background-image: url(../img/banner.jpeg);
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 312px;
}

.banner h1{
	background-color: #fff;
	text-align: center;
	color: #202020;
	font-size: 1.5em;
	padding: 10px;
	margin-top: -20px;
}

.banner h2{
	text-align: center;
	padding: 5px;
	font-size: 1.2em;
	color: #fff;
	background: #202020;
}

.banner h3{
	text-align: center;
	padding: 5px 5px 5px 5px;
	font-size: 1.2em;
	color: #fff;
	background: #202020;
}

.notBanner{
	display: flex;
    flex-direction: column;
	align-items: center;
}

.notBanner h3{
	font-size: 3em;
	text-align: center;
	padding: 40px 0;
}

.notBanner img{
	width: 50%;
}

.notBanner a{
	padding: 15px 10px;
	background: #202020;
	color: white;
	border-radius: 20px;
}

.notBanner a:hover{
	background: white;
	padding: 14px 8px;
	color: #202020;
	border: 1px #202020 solid;
}